@page
@inherits Czar.AbpDemo.Pages.AbpDemoPageBase
@model Czar.AbpDemo.Web.Pages.Books.IndexModel
@section scripts{
    <abp-script src="/pages/Books/index.js" />
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6"><h2>@L["Books:Book"]</h2></abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button id="NewBookButton" text="@L["New"].Value" icon="plus" button-type="Primary"></abp-button>
            </abp-column>

        </abp-row>

    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="BooksTable">
            <thead>
                <tr>
                    <th>@L["Actions"]</th>
                    <th>@L["Books:Name"]</th>
                    <th>@L["Books:Type"]</th>
                    <th>@L["Books:PublishDate"]</th>
                    <th>@L["Books:Price"]</th>
                    <th>@L["Books:CreationTime"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>

